
@media only screen and (device-width: 320px) {
  body {
    width: 320px;
    font-size: 15px;
  }



  img {
    max-width: 320px !important;
  }
  video{
    max-width: 320px !important;
  }
  blockquote {
      max-width: 300px;
  }
}

@media only screen and (device-width: 360px) {
  body {
    width: 360px;
    font-size: 15px;
  }



  img {
    max-width: 360px !important;
  }
  video{
    max-width: 360px !important;
  }
  blockquote {
      max-width: 310px;
  }
}

@media only screen and (device-width: 375px) {
  body {
    width: 375px;
    font-size: 15px;
  }



  img {
    max-width: 375px !important;
  }
  video{
    max-width: 375px !important;
  }
  blockquote {
      max-width: 320px;
  }
}

@media only screen and (device-width: 390px) {
  body {
    width: 390px;
    font-size: 16px;
  }


  img {
    max-width: 390px !important;
  }
  video{
    max-width: 390px !important;
  }
  blockquote {
      max-width: 330px;
  }
}

@media only screen and (device-width: 414px) {
  body {
    width: 414px;
    font-size: 16px;
  }


  img {
    max-width: 414px !important;
  }
  blockquote {
      max-width: 360px;
  }
  
  video{
    max-width: 414px !important;
  }
  
}

@media only screen and (device-width: 428px) {
  body {
    width: 428px;
    font-size: 17px;
  }


  img {
    max-width: 428px !important;
  }
  video{
    max-width:428px !important;
  }
  blockquote {
      max-width: 350px;
  }
}

@media only screen and (device-width: 768px) {
  body {
    width: 768px;
    font-size: 22px;
  }


  img {
    max-width: 768px !important;
  }
  video{
    max-width: 768px !important;
  }
  blockquote {
      max-width: 600px;
  }
}

@media only screen and (device-width: 834px) {
  body {
    width: 834px;
    font-size: 24px;
  }



  img {
    max-width: 834px !important;
  }
  video{
    max-width: 834px !important;
  }
  blockquote {
      max-width: 600px;
  }
}

@media only screen and (device-width: 1024px) {
  body {
    width: 1024px;
    font-size: 24px;
  }


  img {
    max-width:1024px !important;
  }
  video{
    max-width: 1024px !important;
  }
  
  blockquote {
      max-width: 700px;
  }
}

@media only screen and (device-width: 1194px) {
  body {
    width: 1194px;
    font-size: 24px;
  }


  img {
    max-width: 1194px !important;
  }
  video{
    max-width: 1194px !important;
  }
  blockquote {
      max-width: 800px;
  }
}

@media only screen and (device-width: 1366px) {
  body {
    width: 1366px;
    font-size: 26px;
  }



  img {
    max-width: 1366px !important;
  }
  video{
    max-width: 1366px !important;
  }
  
  blockquote {
      max-width: 800px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
   -webkit-font-smoothing: subpixel-antialiased;
  font-family: "IBM Plex Serif","Source Han Serif CN",'-apple-system', serif;
  line-height: 1.5;
  word-wrap: break-word;
  hyphens: auto;
background: #000;
  color: #ccc;
}

  #wrap {
    margin: 0;
    padding:0;
    overflow: hide;
  }

h1,h2,h3,h4,h5,h6 {
    color: #fff !important;
}

a,p a {
   text-decoration: none;
   color: #330000;
   background :#ff9999;
  }




img{
   margin:0!important;
  padding:0!important;
}





a,p a {
   text-decoration: none;
   color: #ff502c;
   background :#fff5f5;
  }




h1 {
   font-weight:700;
    font-size: 24px;
    line-height: 140%;
     margin-top:65px;
     margin-bottom:24px;
}

h2 {
  font-weight:700;
     font-size: 20px;
     line-height: 140%;
     margin-top:56px;
     margin-bottom:24px;
}

h3 {
  font-weight:600;
   font-size: 18px;
   line-height:140%;
   margin-top:48px;
   argin-bottom:22px;
}

h4 {
  font-weight:600;
 font-size: 17px;
    margin-top:40px;
    margin-bottom:16px;
    line-height:130%;
}

h5 {
  font-weight:600;
   font-size: 16px;
   line-height:120%;
   margin-top:35px;
   margin-bottom:16px;
}

h6 {
  font-weight:600;
    font-size: 15px;
        line-height:120%;
        margin-top:30px;
        margin-bottom:14px
}

h1,h2,h3,h4,h5,h6{
    font-family: "PingFang SC","Helvetica Neue",Helvetica,"San Francisco", Arial,sans-serif;
}

h1:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),h1:not(:lang(zh)), h2:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)),h2:not(:lang(zh)),h3:not(:lang(zh)):not(:lang(ja)):not(:lang(kr)), h3:not(:lang(zh)) {
    letter-spacing: 0
}





div {
  table-layout: fixed;
  overflow: hidden;

}

p{
    margin:2em 0;
}

 ul, ol, dl {
    margin-block-start: 12px;
    margin-block-end: 24px
}

 ul,ol {
    padding-inline-start: 32px
}

 ul ul, ul ol, ol ul, ol ol {
    margin-block-start: 0;
    margin-block-end: 0
}

 ul {
    list-style-type: disc
}

ol {
    list-style-type: decimal
}

 ul ul, ol ul {
    list-style-type: circle
}

 ul ul ul, ul ol ul, ol ul ul, ol ol ul {
    list-style-type: square
}

 li {
    list-style-type: unset;
    margin:15px 0;
}
li p {
    display:inline;
    margin:0;
}







	







  
  



